<div class="d-flex justify-content-center pt-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Bienvenido</h2>
            <p>Bienvenido a Cine Power</p>
            <button class="btn btn-outline-light" type="button">Descubre la magia del cine en nuestro sitio. Explora nuestra cartelera actualizada con las mejores películas, desde los últimos estrenos hasta los clásicos que no te puedes perder.</button>
        </div>
    </div>
</div>